button {
  outline: none !important;
  outline-style: none !important;
}

body {
  --color-black: black;
  --color-white: white;
  --color-red: red;
  --color-green: #52d869;
  --color-silver: #9f9f9f;
  --color-grey: #cccccc;
  --color-bright-grey: #eeeeee;
  --font-size-14: 14px;
  --font-size-12: 12px;
  font-family: "Nunito";
  font-size: 14px;
  color: var(--color-text);
  overflow-x: hidden;
  --color-background-button: #0bb0c6;
  --color-text: #fff;
  --color-checked-radio: red;
  --disable-btn-color: #ccc;
	--color-grey-light: #d2d2d2;
  --primary-color: #4B49AC;
	--color-grey-light: #d2d2d2;
	--color-blue: #004FC4;
	--color-gray: #949494;
	--color-gray-light: #e9e9e9;
	--default-line-height: 16.37px;
  --button-height: 42px;
	--color-background: #F5F7FF;
  background-color: var(--color-background) !important;
	--font-size-16: 16px;
    --color-icon-menu:#EA7C69;
    --color-icon-category: #FFB1B1;
    --color-icon-option-menu: #FFEB99;
    --color-icon-type: #DDC086;
    --color-icon-table: #179EEA;
    --color-icon-group-table: #20DADA;
    --color-icon-setting: #9CF2CC;
    --color-icon-import-data: #0F6CD6;
    --color-icon-menu-export-data: #6361E5;
    --color-require: #FF0000;

}
